@font-face{
  font-family:'customfont';
  src: local('customfont'),
  url('./assets/font/Roboto-Regular.ttf') format("truetype");
}

body {
  font-family: 'customfont';
}

.ui.form textarea {
  font-family: 'customfont';
}

.ui.button {
  color: black;
}
.ui.visible.message {
  font-size: 15px;
}



/*
.container {
  font-family: 'customfont';
}

.ui.form textarea {
  background-color: #303030;
  color: white;
  font-family: 'customfont';
}

.ui.form textarea::selection {
  background-color: #ff69b4;
  color: #ffffff; 
}

body {
  background-color: #1e1e1e;
}

.ui.visible.message {
  background-color: #303030;
  color: #ffffff;
  max-width: 300px;
}

.ui.dropdown {
  background-color: #1e1e1e;
  color: #ffffff; 
  border: none; 
  border-radius: 10px; 
  padding: 10px 20px;
  font-family: 'customfont'
}

.ui.tab {
  background-color: #1e1e1e; 
  color: #ffffff;
  border-color: #303030;

}

.ui.tab.menu {
  background-color: #1e1e1e;
  border-color: #303030;
}

.ui.tab.segment {
  background-color: #1e1e1e;
  border-color: #303030;
}

*/